
.header{
	height:35px;
	background-color:#f5f5f5;
	border-bottom:1px solid #eee;
}

/*左浮动*/


.submenu{
	height:35px;
	line-height:35px;
	padding:0 10px;
	font-size:12px;
}

.submenu a{
	font-size:12px;
}

.menu:hover{
    background-color:#fff;
}

/*箭头图标*/
.arrow{
	display:block;
	width:12px;
	height:6px;
    line-height:6px;
    overflow:hidden;
    margin-top:14px;
    margin-left:5px;
	background-image:url(../images/icon/arrow.png);
	background-repeat:no-repeat;
	background-size:12px 6px;

}

.fontcolor{
	color:#6c6c6c;
}
.fontcolor:hover{
	color:#f40;
	cursor:pointer;
}
.fontred{
	color:#f40;
}
/*购物车*/

.shopcart{
	display:block;
	width:12px;
	height:15px;
	margin-top:10px;
	margin-right:3px;
	background-image:url(../images/icon/gouewuche.png);
	background-size:12px 15px;
	background-repeat:no-repeat;
	float:left;

}

/*收藏夹*/

.favorite{
	display:block;
	width:14px;
	height:14px;
	margin-top:10px;
	background-image:url(../images/icon/xiaoxinxin.png);
	background-size:14px 14px;
	background-repeat:no-repeat;
	float:left;
}

/*网站导航*/


 .head_bottom{
          
    background-color:#FF7B00;
    height:99px;
}

/*图片a标签总样式*/
.imga{
  display:block;
  width:190px;
  height:72px;
  margin:14px 9px 0 9px;
  position:relative;
}
.imga1{ 
  background-image:url(../images/hear-bottom/女装背景.png);
}
.imga2{ 
  background-image:url(../images/hear-bottom/男装背景.png);
}
.imga3{ 
  background-image:url(../images/hear-bottom/户外背景.png);
}
.imga4{ 
  background-image:url(../images/hear-bottom/鞋品背景.png);
}
.imga5{ 
  background-image:url(../images/hear-bottom/内衣背景.png);
}

.icon{
  width:60px;
  height:60px;
  position:absolute;
  top:7px;
  right:10px;
  background-color:#fff;
  border-radius:15px;
}
.icon img{
  width:50px;
  height:50px;
  margin:5px 5px;
  
}
/*文字*/
.head_bottom .msg{
    margin-top:18px;
    margin-left:32px;
    
}
.head_bottom .msg h4{
  font-size:18px;
  color:#fff;

}
.head_bottom .msg p{
  font-size:14px;
  color:#fff;

}

